%p#notice= notice

%article.post.ten.columns.alpha
  %h2.title.eight.columns.alpha.omega= @post.title
  .date.eight.columns.alpha.omega
    posted
    = time_ago_in_words(@post.created_at)
    ago by 
    =@post.user.profile.name
  .intro.eight.columns.alpha.omega
    -if @post.images.present?
      .images.four.columns.alpha
        - @post.images.each do |image|
          = image_tag(image.file_url(:small)) if image.file?
    :redcarpet
      #{@post.intro}
  .body.eight.columns.alpha.omega
    :redcarpet
      #{@post.body}
  .stats.eight.columns.alpha.omega
    // Like buttons
    .like
      =link_to "Tweet", "https://twitter.com/share", :class => 'twitter-share-button', 'data-count' => 'horizontal', 'data-via' => 'wrdevos'
      %script{:type => 'text/javascript', :src => '//platform.twitter.com/widgets.js'}
      %g:plusone{:annotation => "inline"}
      %br
      .fb-like{"data-href" => url_to_post(@post, true), "data-send" => "true", "data-width" => "450", "data-show-faces" => "false"}
    Reads:
    = @post.reads
  .comments.eight.columns.alpha.omega
    = render 'comments'

%aside.recents.four.columns.omega.right
  %h3 Recent posts
  = render 'recents'

-if @post.user == current_user
  = link_to 'Edit', edit_post_path(@post)
  \|
= link_to 'Back', root_path
