!!! 5
%html
  %head
    -if @post.nil?
      %title Foxycoder.com
    -else
      %title= "#{@post.title} | Foxycoder.com"
    
    %meta{'http-equiv' => 'Content-Type', content: 'text/html; charset=utf-8'}
    %meta{name: 'description', content: 'Foxycoder brings you sassy talk on nerdy subjects.'}
    %meta{name: 'keywords', content: 'ruby, php, rails, cakephp, codeigniter, nginx, apache, heroku, ubuntu, apc, cache, memcached, memcache'}
    %meta{'http-equiv' => 'language', content: 'EN'}

    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    
  %body
    .topbar
    .container
      = render :partial => "layouts/header"
      = yield
    .clear
    = render :partial => "layouts/footer"
